*{
    background: url(/src/to\ do\ list.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.list-task {
    height: 50px;
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    
    
  
}

.task {
    height: 50px;
    border-radius: 15px;
    width: 400px;
    padding: 10px 150px; 
    margin-left: 500px;
    margin-top: 0px;

cursor: pointer;
    text-align: justify;
    border-style: solid;

}


#info {
    height: 40px ;
    border-radius: 10px;
    width: 50px;
    margin-left: 10px;
    cursor: pointer;
    
}

.tasks {
    padding:0 0 50px 550px;

}